.env
node_modules
npm-debug.log
.git
.DS_Store
.nyc_output
coverage
.idea
.vscode
.cache
.next
.pnp.*
.yarn
.pnp
.yarn/*
!yarn.lock
!package-lock.json
!package.json
!pnpm-lock.yaml
!pnpm-lock.yaml.swp
